/* Main style sheet - Styles for index.html */

body {
    background-color: aquamarine;
    background-image: url("./bgimages/bluwhit2.gif");
    background-repeat: repeat;
    position: relative;
    margin: auto;
    padding: 10px;
    display: grid;
    font-family: "Patua One", cursive;
}

.scroll-anchor {
    /* css used to anchor to top of the window, refer to main.js */
    top: 0;
    z-index: 100;
    position: fixed;
    width: 90%;
    }
    .scroll-anchor-mainWrapper {
        padding: 7%;
}

/* Top of the webpage begins here */

.navbar {
    display: flex; 
    margin: 2%;
    border: 4px solid rgb(31, 115, 121);
    border-radius: 5px;
    padding: 2%;
    background-image: url("./bgimages/borawater.gif");
    }
    .navbar .optionBarTop {
        display: flex;
        height: 100px;
        width: 1280px;
        background: rgba(154, 197, 211, 0.7);
    }
    .navbar .optionBarTop .navbarLink {
        display: flex;
        padding-top: 2%;
        height: auto;
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 150%;
    }
    .navbar .optionBarTop .navbarLink:hover {
        background: rgba(97, 124, 133, 0.7);
        font-size: 160%;
    }
    .navbar .optionBarTop .navbarLink a {
        color: black;
        text-decoration: transparent;
    }
    .navbar .optionBarTop .navbarLink a:hover {
        color: rgb(40, 100, 150);
    }
    .navbar .optionBarTop .navbarLink a:active {
        color: rgb(40, 134, 163);
}

/* Center of the webpage begins here */

.mainWrapper {
    display: grid; 
    margin: 2%;
    border: 4px solid rgb(31, 115, 121);
    border-radius: 5px;
    padding: 2%;
    background-image: url("./bgimages/borawater.gif");
    }
    .mainWrapper #info {
        display: flex;
        margin-top: 1%;
        margin-bottom: 1%;
        height: max-content;
        width: 1280px;
        background: rgba(154, 197, 211, 0.7);
        }

        /* Introduction page styles */
        .mainWrapper .introduction {
            justify-content: space-evenly;
            text-align: center;
        }
        .mainWrapper .introduction .tourContainer {
            max-width: 1000px;
            position: relative;
            margin: auto;
            padding-bottom: 3%;
            padding-top: 3%;
        }
        .mainWrapper .introduction .tourContainer .tourShow {
            display: none;
            }
            .tourShow img {
                height: 100%;
                width: 100%;
            }

        .mainWrapper .introduction .tourContainer .left, .mainWrapper .introduction .tourContainer .right {
            cursor: pointer;  
            position: relative;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px; 
            font-weight: bold;  
            font-size: xx-large;
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;
            }
            .right {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            .mainWrapper .introduction .tourContainer .left:hover, .mainWrapper .introduction .tourContainer .right:hover {
                color: rgb(40, 100, 150);
            }
            .mainWrapper .introduction .tourContainer .left:active, .mainWrapper .introduction .tourContainer .right:active {
                color: rgb(40, 134, 163);
            }
            /* Fade animation styles for each image, exclusive to introduction element page styles */  
            .fade {  
            -webkit-animation-name: fade;  
            -webkit-animation-duration: 1.5s;  
            animation-name: fade;  
            animation-duration: 1.5s;  
            }  
            @-webkit-keyframes fade {  
                from {  
                    opacity: .4  
                }  
                to {  
                    opacity: 1  
                }  
            }  
            @keyframes fade {  
                from {  
                    opacity: .4  
                }  
                to {  
                    opacity: 1  
                }
        }

        /* AboutDzitzer page styles */
        .mainWrapper .aboutDzitzer {
            justify-content: space-evenly;
            text-align: center;
            padding-bottom: 3%;
            padding-top: 3%;
            }
            .mainWrapper .aboutDzitzer .aboutDzitzerContent {
                padding-left: 3%;
                padding-right: 3%;
            }
            .mainWrapper .aboutDzitzer .aboutDzitzerContent .aboutDzitzerContent2 {
                text-align: center;
                padding-left: 4%;
                padding-right: 4%;
                padding-bottom: 3%;
                padding-top: 3%;
                background-image: url("./bgimages/wavebkg.jpg");
            }
            .mainWrapper .aboutDzitzer .aboutDzitzerContent .aboutDzitzerContent2 .aboutDzitzerContent2Wrapper {
                padding-bottom: 3%;
                padding-top: 1%;
                background-color: rgb(196, 195, 230);
            }
            .mainWrapper .aboutDzitzer .aboutDzitzerContent .aboutDzitzerContent2 .aboutDzitzerContent2Wrapper p {
                font-size: larger;
        }

        /* ContactDzitzer page styles*/
        .mainWrapper .contactDzitzer {
            justify-content: space-evenly;
            text-align: center;
            padding-bottom: 3%;
            padding-top: 3%;
        }
        .mainWrapper .contactDzitzer .contactDzitzerContent #map {
            height: 600px;
            width: 800px;
        }

        /* Before and After Gallery page styles */
        .mainWrapper .bAndAGallery {
            justify-content: space-evenly;
            text-align: center;
            padding-bottom: 3%;
            padding-top: 3%;
            }
            .mainWrapper .bAndAGallery .bAndAGalleryContent {
                display: grid;
                width: 800px;
            }  
            .mainWrapper .bAndAGallery .bAndAGalleryContent .bAndAGalleryContentSlides {
                padding-top: 1%;
                padding-bottom: 3%;
                background-color: #E8EAE9;
                display: flex;
                justify-content: center;
                }
                .mainWrapper .bAndAGallery .bAndAGalleryContent .bAndAGalleryContentSlides table {
                    padding-left: 12%;
                    padding-right: 12%;
        }

        /* Testimonies page styles */
        .mainWrapper .testimonies {
            justify-content: space-evenly;
            text-align: center;
            padding-bottom: 3%;
            padding-top: 3%;
        }
        .mainWrapper .testimonies .testimoniesVideos p {
            font-size: x-large;
        }
        .mainWrapper .testimonies .testimoniesVideos p a {
            color: black;
            text-decoration: transparent;
        }
        .mainWrapper .testimonies .testimoniesVideos p a:hover {
            color: rgb(40, 100, 150);
        }
        .mainWrapper .testimonies .testimoniesVideos p a:active {
            color: rgb(40, 134, 163);
        }
        .mainWrapper .testimonies .testimoniesVideos .testimoniesWordOfMouthBG {
            margin: 2%;
            padding-top: 3%;
            padding-bottom: 3%;
            background-image: url("./bgimages/wavebkg.jpg");
        }
        .mainWrapper .testimonies .testimoniesVideos .testimoniesWordOfMouth {
            margin-left: 2%;
            margin-right: 2%;
            padding-left: 4%;
            padding-right: 4%;
            padding-top: 2%;
            padding-bottom: 3%;
            background-color: rgb(196, 195, 230);
            }
            .mainWrapper .testimonies .testimoniesVideos .testimoniesWordOfMouth p {
                font-size: larger;
}

/* Bottom of the webpage begins here */

.footer {
    display: flex;
    margin: 2%;
    border: 4px solid rgb(31, 115, 121);
    border-radius: 5px;
    padding: 2%;
    background-image: url("./bgimages/borawater.gif");
    }
    .footer .optionBarBottom {
        display: flex;
        height: 100px;
        width: 1280px;
        background: rgba(154, 197, 211, 0.7);
}